html {
    margin: 0;
}

body {
    height: 150vh;
}

.grid-container {
    display: grid;
    grid-template-areas: 
                        "header header header header header"
                        ". main main main sidebar-2"
                        ". main main main .";
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.item {
    border: 2px black solid;
}

.header {
    grid-area: header;
}

.sidebar-1 {
    grid-area: sidebar-1;
}

.main {
    grid-area: main;
}

.card-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
                        "opt1"
                        "opt2"
                        "opt3"
                        "opt4"
                        "opt5";
    height: 30rem;
    width: 45rem;
    border: 2px blue solid;
    margin: auto auto;
}

.opt {
    padding: 1rem;
}

.sidebar-2 {
    grid-area: sidebar-2;
}

